<!DOCTYPE html>
<html>

<head>
  <title>Scelta attori</title>
  <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
<header>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
  </style>
  <script>
    function submitForm() {
      var form = document.querySelector('form');
      form.submit();
    }
  </script>
  <div class="header-left">
    <div class="logo">
      <img src="/images/logo1.png" width="50%" />
    </div>
    <div class="menu">
      <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/movie">Film</a></li>
        <li><a href="/artist">Artisti</a></li>
      </ul>
    </div>
  </div>
  <div class="header-right">
    <div class="search-bar">
      <form th:action="@{/searchMovies}" method="post" onsubmit="event.preventDefault(); submitForm();">
        <img src="/images/search-heart.svg">
        <input type="text" th:value="${title}" name="title" placeholder="Cerca film..." style="font-family: 'Raleway', sans-serif"/>
      </form>
    </div>
  </div>
  <div class="login">
    <div th:if="${#request.userPrincipal}">
      <span th:text="${#request.userPrincipal.principal.username}">Menù</span>
      <a href="/logout">Logout</a>
    </div>
    <div th:unless="${#request.userPrincipal}">
      <a href="/login">Login</a>
    </div>
  </div>
</header>
<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
<h1 th:text="'Attori del film ' + ${movie.title}"></h1>
<div th:if="${movie.actors.isEmpty()}">Non ci sono attori per questo film</div>
<ul>
  <li th:each="actor : ${movie.actors}">
    <span th:text="${actor.name}+' '+${actor.surname}"></span>
    <a th:href="@{'/admin/removeActorFromMovie/'+ ${actor.id}+'/'+${movie.id}}">Cancella</a>
  </li>
</ul>
<div>
  Attori che si possono aggiungere:
  <ul>
    <li th:each="actor : ${actorsToAdd}">
      <span th:text="${actor.name}+' '+${actor.surname}"></span>
      <a th:href="@{'/admin/addActorToMovie/'+ ${actor.id}+'/'+${movie.id}}">Aggiungi</a>
    </li>
  </ul>
  <div>
    <div>
      <a th:href="@{'/admin/formUpdateMovie/'+ ${movie.id}}"><button type="button">Fine</button></a>
    </div>
</body>

</html>