<!DOCTYPE html>
<html>

<head>
    <title>
        Modifica Artista
    </title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
<header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
    </style>
    <script>
        function submitForm() {
            var form = document.querySelector('form');
            form.submit();
        }
    </script>
    <div class="header-left">
        <div class="logo">
            <img src="/images/logo1.png" width="50%" />
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a> </li>
                <li><a href="/movie">Film</a></li>
                <li><a href="/artist">Artisti</a></li>
            </ul>
        </div>
    </div>
    <div class="header-right">
        <div class="search-bar">
            <form th:action="@{/searchMovies}" method="post" onsubmit="event.preventDefault(); submitForm();">
                <img src="/images/search-heart.svg">
                <input type="text" th:value="${title}" name="title" placeholder="Cerca film..." style="font-family: 'Raleway', sans-serif"/>
            </form>
        </div>
    </div>
    <div class="login">
        <div th:if="${#request.userPrincipal}">
            <span th:text="${#request.userPrincipal.principal.username}">Menù</span>
            <a href="/logout">Logout</a>
        </div>
        <div th:unless="${#request.userPrincipal}">
            <a href="/login">Login</a>
        </div>
    </div>
</header>
<div><a href="/static"><img src="/images/logo-siw.png" width="50%" /></a></div>
<h1>Modifica Artista</h1>
<form th:action="'/admin/updateArtist/' + ${artist.id}"  method="POST" th:object="${artist2}" enctype = "multipart/form-data" >
    <div>
        <span th:text="${messaggioErrore}">Errore</span>
    </div>
    <div>
        <label>Nome:</label> <span><input required type="text" th:field="${artist2.name}" /></span>
    </div>

    <div>
        <label>Cognome:</label> <span><input required type="text" th:field="${artist2.surname}" /></span>
    </div>

    <div>
        <label>Data di nascita:</label> <span><input type="date" th:field="${artist2.dateOfBirth}" /></span>
    </div>

    <div>
        <label>Data di morte (se mort*):</label> <span><input type="date" th:field="${artist2.dateOfDeath}" /></span>
    </div>
    <div>
        <label>Immagine:</label>
        <span><input type="file" name="image" id="fileImage" accept="image/jpeg, image/png" /></span>
    </div>
    <div> <img id="thumbnail" alt="Logo Preview" |>
    </div>
    <script type = "text/javascript">
        $(document).ready(function() {
            $('#fileImage').change(function() {
                showImageThumbnail(this);
            });
        });

        function showImageThumbnail(fileInput) {
            file = fileInput.files[0];
            reader = new FileReader();

            reader.onload = function(e) {
                $('#thumbnail').attr('src', e.target.result)
            };

            reader.readAsDataURL(file);
        }
    </script>
    <span><button type="submit">Modifica</button></span>
</form>
</body>

</html>