<!DOCTYPE html>
<html>
<head>
    <title>Nuovo Film </title>
    <link rel="stylesheet" href="/css/stile.css?version=3"/>
</head>
<body>
<div><a href="/"><img src="https://i.pinimg.com/564x/c3/d9/97/c3d997b22a3f64b65915851f30592371.jpg" width="5%" alt=""/> </a> </div>
<h1> Nuovo Film </h1>
<form th:action="@{/movies}" method="POST" th:object="${movie}">
    <div>
        <span th:text="${messaggioErrore}">Errore</span>
    </div>
    <div> Titolo:
        <span>
            <label>
<input required type="text" th:field="${movie.title}"/>
</label>
        </span>
    </div>
    <div>Anno:
        <span><input required type="text" th:field="${movie.year}"/></span>
    </div>
    <div>URL immagine:
        <span><input type="url" th:field="${movie.urlImage}"/></span>
    </div>
    <div>
        <span><button type="submit">Conferma</button></span>
    </div>
</form>
</body>
</html>