<!DOCTYPE html>
<html>

<head>
  <title>Scelta attori</title>
  <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
<header>
  <div th:if="${#request.userPrincipal}">
    <span th:text="${#request.userPrincipal.principal.username}"></span>
    <a href="/logout">Logout</a>
  </div>
  <div th:unless="${#request.userPrincipal}">
    <a href="/login">Login</a>
  </div>
</header>
<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
<h1 th:text="'Recensioni del film' + ${movie.title}"></h1>
<div th:if="${movie.reviews.isEmpty()}">Non ci sono recensioni per questo film</div>
<ul>
  <li th:each="review : ${movie.reviews}">
    <span th:text="${review.title}"></span>
    <span th:text="${review.text}"></span>
    <div class="mt-5"><strong th:text="${review.rating}"></strong></div>
    <span th:text="${review.user.name}"></span>
    <a th:href="@{'/admin/removeReviewFromMovie/'+ ${review.id}+'/'+${movie.id}}">Cancella</a>
  </li>
</ul>
    <div>
      <a th:href="@{'/admin/formUpdateMovie/'+ ${movie.id}}"><button type="button">Fine</button></a>
    </div>
</body>

</html>