<!DOCTYPE html>
<html>

<head>
  <title>Recensioni</title>
  <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
<header>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
  </style>
  <script>
    function submitForm() {
      var form = document.querySelector('form');
      form.submit();
    }
  </script>
  <div class="header-left">
    <div class="logo">
      <img src="/images/logoSIW2.png" width="50%" />
    </div>
    <div class="menu">
      <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/movie">Film</a></li>
        <li><a href="/artist">Artisti</a></li>
        <li>&#124</li>
        <li><a href="/admin/manageMovies">Modifica Film</a></li>
        <li><a href="/admin/manageArtists">Modifica Artisti</a></li>
      </ul>
    </div>
  </div>
  <div class="header-right">
    <div class="search-bar">
      <form th:action="@{/searchMovies}" method="post" onsubmit="event.preventDefault(); submitForm();">
        <img src="/images/search-heart.svg">
        <input type="text" th:value="${title}" name="title" placeholder="Cerca film..." style="font-family: 'Raleway', sans-serif"/>
      </form>
    </div>
  </div>
  <div class="login">
    <div th:if="${#request.userPrincipal}">
      <span th:text="${#request.userPrincipal.principal.username}">Menù</span>
      <a href="/logout">Logout</a>
    </div>
    <div th:unless="${#request.userPrincipal}">
      <a href="/login">Login</a>
    </div>
  </div>
</header>
<h1 th:text="'Recensioni del film ' + ${movie.title}"></h1>
<a th:href="@{'/admin/formUpdateMovie/'+ ${movie.id}}"><button class="buttonModify" type="button">Salva</button></a>
<div class="movie-reviews">
  <div class="review"></div>
  <div class="review" th:if="${movie.reviews.isEmpty()}">Non ci sono recensioni per questo film</div>
  <div class="review" th:each="review : ${movie.reviews}">
    <p class="review-author" th:text="${review.title} + ' ' + ${review.rating} + '/5'"></p>
    <p class="review-content" th:text="${review.text}"></p>
    <p class="review-content" th:text="${review.user.name}"></p>
    <a th:href="@{'/admin/removeReviewFromMovie/'+ ${review.id}+'/'+${movie.id}}">Cancella</a>
  </div>
</div>
</body>

</html>