body {
    background-image: image-set("/images/background2.jpg");
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.login-container {
    background-color: rgba(51, 51, 51, 0.8);
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
}

form button {
    width: 80%;
    padding: 10px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #b4060c;
}

.signup-link {
    margin-top: 20px;
    color: #fff;
    display: flex;
}

.signup-link span {
    margin-right: 5px;
}

.signup-link a {
    color: #e50914;
}

form span{
    font-size:  13px;
    margin-bottom: 10px;
    color: #e50914;
    display: flex;
}