<!DOCTYPE html>
<html>

<head>
  <title>Recensione</title>
  <link rel="stylesheet" href="/css/reviewStyle.css"/>
</head>

<body>
<header>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
  </style>
  <script>
    function submitForm() {
      var form = document.querySelector('form');
      form.submit();
    }
  </script>
  <div class="header-left">
    <div class="logo">
      <img src="/images/logoSIW2.png" width="50%" />
    </div>
    <div class="menu">
      <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/movie">Film</a></li>
        <li><a href="/artist">Artisti</a></li>
      </ul>
    </div>
  </div>
  <div class="header-right">
    <div class="search-bar">
      <form th:action="@{/searchMovies}" method="post" onsubmit="event.preventDefault(); submitForm();">
        <img src="/images/search-heart.svg">
        <input type="text" th:value="${title}" name="title" placeholder="Cerca film..." style="font-family: 'Raleway', sans-serif"/>
      </form>
    </div>
  </div>
  <div class="login">
    <div th:if="${#request.userPrincipal}">
      <span th:text="${#request.userPrincipal.principal.username}">Menù</span>
      <a href="/logout">Logout</a>
    </div>
    <div th:unless="${#request.userPrincipal}">
      <a href="/login">Login</a>
    </div>
  </div>
</header>
<div class="login-container">
  <img src="/images/logoSIW2.png" class="logo">
  <h1>Recensione</h1>
  <form th:action="@{/review/{movieId}(movieId=${movie.id})}" th:object="${review}" method="post">
    <span th:text="${messaggioErrore}">Errore</span>
    <input type="text" name="title" placeholder="Titolo" style="font-family: 'Raleway', sans-serif">
    <textarea style="font-family: 'Raleway', sans-serif" name="text"></textarea>
    <input required type="number" min="1" max="5" step="1" name="rating">
    <button type="submit" style="font-family: 'Raleway', sans-serif" >Conferma</button>
  </form>
</div>


</body>

</html>