<!DOCTYPE html>
<html>

<head>
  <title>Recensione</title>
  <link rel="stylesheet" href="/css/stile.css"/>
</head>

<body>
<header>
  <div th:if="${#request.userPrincipal}">
    <span th:text="${#request.userPrincipal.principal.username}"></span>
    <a href="/logout">Logout</a>
  </div>
  <div th:unless="${#request.userPrincipal}">
    <a href="/login">Login</a>
  </div>
</header>
<form th:action="@{/review/{movieId}(movieId=${movie.id})}" th:object="${review}" method="post">
  <div>
    <label>Title:</label>
    <input type="text" name="title">
  </div>
  <div>
    <label>Text:</label>
    <textarea name="text"></textarea>
  </div>
  <div>
    <label>Rating:</label>
    <input type="number" name="rating">
  </div>
  <input type="submit" value="Add Review">
</form>
<!---<form th:action="@{/addReviewToMovie/{movieId}(movieId=${movie.id})}" th:object="${review}" method="post">
  <div>
    <label>Title:</label>
    <input type="text" th:field="*{title}">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
  </div>
  <div>
    <label>Text:</label>
    <textarea th:field="*{text}"></textarea>
    <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></span>
  </div>
  <div>
    <label>Rating:</label>
    <input type="number" th:field="*{rating}">
    <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></span>
  </div>
  <input type="submit" value="Add Review">
</form>-->
<!--<form th:action="@{'/addReviewToMovie/'+${movieId}}" method="POST" th:object="${review}" class="mt-5">
  <div th:if="${#fields.hasGlobalErrors()}">
    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
  </div>

  <div>
    <label>Titolo:</label>
    <span><input type="text" th:field="${review.title}"/></span>
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
  </div>

  <div>
    <label>Voto:</label>
    <span><input type="text" th:field="${review.rating}" /></span>
    <span th:if="${#fields.hasErrors('rate')}" th:errors="*{rating}"></span>
  </div>

  <div>Descrizione:
    <textarea class="form-control" th:field="*{review.text}" rows="3"></textarea>
  </div>
  <div>
    <span><button type="submit">Conferma</button></span>
  </div>
</form>-->
</body>

</html>