<!DOCTYPE html>
<html>

<head>
  <title>Film</title>
  <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
<header>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
  </style>
  <script>
    function submitForm() {
      var form = document.querySelector('form');
      form.submit();
    }
  </script>
  <div class="header-left">
    <div class="logo">
      <img src="/images/logo1.png" width="50%" />
    </div>
    <div class="menu">
      <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/movie">Film</a></li>
        <li><a href="/artist">Artisti</a></li>
      </ul>
    </div>
  </div>
  <div class="header-right">
    <div class="search-bar">
      <form th:action="@{/searchMovies}" method="post" onsubmit="event.preventDefault(); submitForm();">
        <img src="/images/search-heart.svg">
        <input type="text" th:value="${title}" name="title" placeholder="Cerca film..." style="font-family: 'Raleway', sans-serif"/>
      </form>
    </div>
  </div>
  <div class="login">
    <div th:if="${#request.userPrincipal}">
      <span th:text="${#request.userPrincipal.principal.username}">Menù</span>
      <a href="/logout">Logout</a>
    </div>
    <div th:unless="${#request.userPrincipal}">
      <a href="/login">Login</a>
    </div>
  </div>
</header>

<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
<h1>Film che soddisfano i requisiti</h1>
<div th:if="${movies.isEmpty()}">Non ci sono film che soddisfano i requisiti</div>
<ul th:if="${!movies.isEmpty()}">
  <li th:each="movie : ${movies}">
    <a href="movie.html" th:href="@{'/movie' + '/' + ${movie.id}}"
       th:text="${movie.title} + ' (' + ${movie.year}+')'">Up! (2000)</a>
  </li>
</ul>
</body>

</html>