<!DOCTYPE html>
<html>
<head>
  <title>Film</title>
  <link rel="stylesheet" href="/css/stile.css"/>
</head>

<body>
<header>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
  </style>
  <script>
    function submitForm() {
      var form = document.querySelector('form');
      form.submit();
    }
  </script>
  <div class="header-left">
    <div class="logo">
      <img src="/images/logoSIW2.png" width="50%" />
    </div>
    <div class="menu">
      <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/movie">Film</a></li>
        <li><a href="/artist">Artisti</a></li>
      </ul>
    </div>
  </div>
  <div class="header-right">
    <div class="search-bar">
      <form th:action="@{/searchMovies}" method="post" onsubmit="event.preventDefault(); submitForm();">
        <img src="/images/search-heart.svg">
        <input type="text" th:value="${title}" name="title" placeholder="Cerca film..." style="font-family: 'Raleway', sans-serif"/>
      </form>
    </div>
  </div>
  <div class="login">
    <div th:if="${#request.userPrincipal}">
      <span th:text="${#request.userPrincipal.principal.username}">Menù</span>
      <a href="/logout">Logout</a>
    </div>
    <div th:unless="${#request.userPrincipal}">
      <a href="/login">Login</a>
    </div>
  </div>
</header>

<div class="showMovie" th:if="${movie}">
  <h1 style="color: #e50914" th:text="${movie.title}">Dettagli Film</h1>
  <h2 th:text="'movie | '+ ${movie.year} ">2000</h2>
  <div class="movieImage">
    <img width="5%" th:src="'data:image/jpeg;base64,' + ${image}"/>
  </div>
  <div class="movieInfoGrid">
    <div><h2 style="color: #e50914">Regista:</h2>
        <div th:if="${movie.director}">
          <a th:href="@{'/artist/' + ${movie.director.id}}" th:text="${movie.director.name} + ' ' +${movie.director.surname}">Pippo</a>
        </div>
        <div th:unless="${movie.director}">
            <p>Nessun regista per questo film</p>
        </div>
    </div>
    <div>
        <h2 style="color: #e50914">Attori del film:</h2>
        <div th:if="${movie.actors.isEmpty()}">Non ci sono attori per questo film</div>
        <p th:each="actor : ${movie.actors}">
            <a th:href="@{'/artist/' + ${actor.id}}" th:text="${actor.name}+' '+${actor.surname}"></a>
        </p>
    </div>
  </div>

  <div>
    <h2 style="color: #e50914">Recensioni:</h2>
    <div th:if="${movie.reviews.isEmpty()}">Non ci sono recensioni per questo film</div>
    <ul>
      <li th:each="review : ${movie.reviews}">
        <span th:text="${review.title}"></span>
        <span th:text="${review.text}"></span>
        <div class="mt-5"><strong th:text="${review.rating}"></strong></div>
        <span th:text="${review.user.name}"></span>
      </li>
    </ul>
  </div>
  <a th:href="@{'/addReviewToMovie/' + ${movie.id}}">Aggiungi Recensione</a>
</div>
<!--<h1 th:text="">Dettagli Film</h1>

  <span th:text="${movie.title}">Up!</span>
  <span th:text="'(' + ${movie.year} + ')'">2000</span>
<span><img width="5%" th:src="'data:image/jpeg;base64,' + ${image}"/></span>

  <h2>Registi:</h2>
  <div th:if="${movie.director}">
    <span th:text="${movie.director.name} + ' ' +${movie.director.surname}">Pippo</span>
  </div>
  <div th:unless="${movie.director}">
    <p>Nessun regista per questo film</p>
  </div>
  <div>
    <h2>Attori:</h2>
    <div th:if="${movie.actors.isEmpty()}">Non ci sono attori per questo film</div>
    <ul>
      <li th:each="actor : ${movie.actors}">
        <span th:text="${actor.name}+' '+${actor.surname}"></span>
      </li>
    </ul>
  </div>
  <div>
    <h2>Recensioni:</h2>
    <div th:if="${movie.reviews.isEmpty()}">Non ci sono recensioni per questo film</div>
    <ul>
      <li th:each="review : ${movie.reviews}">
        <span th:text="${review.title}"></span>
        <span th:text="${review.text}"></span>
        <div class="mt-5"><strong th:text="${review.rating}"></strong></div>
        <span th:text="${review.user.name}"></span>
      </li>
    </ul>
  </div>
  <a th:href="@{'/addReviewToMovie/' + ${movie.id}}">Aggiungi Recensione</a>-->


  <!--<div>Attori:</div>
  <ul>
      <li th:each="actor : ${movie.actors}">
          <span th:text="${actor.name}+' '+${actor.surname}"></span>
      </li>
  </ul>
  <div>Registi:</div>
  <ul>
      <li th:each="director : ${movie.directors}">
          <span th:text="${director.name}+' '+${director.surname}"></span>
      </li>
  </ul>
  <div th:text="'Recensioni di ' + ${movie.title}"></div>
  <ul>
      <div th:if="${movie.reviews.isEmpty()}">Non ci sono recensioni per questo film</div>
      <li th:each="review : ${movie.reviews}">
          <span th:text="${review.title}"></span>
          <div class="mt-5"><strong th:text="${review.rating}"></strong></div>
          <span th:text="${review.user.name}"></span>
      </li>
  </ul>-->

</div>
<div th:unless="${movie}">Non esiste</div>
</body>
</html>
