<!DOCTYPE html>
<html>

<head>
  <title>SiwMovie - Registrazione</title>
  <link rel="stylesheet" href="/css/loginStyle.css" />
</head>

<body>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
</style>
<div class="login-container">
  <img src="/images/logoSIW2.png" class="logo">
  <img src="/images/check2-circle.svg" class="logo">
  <h1>Congratulazioni ti sei registrat*!</h1>
  <div class="signup-link">
   <a th:href="@{/}"> Torna alla home</a>
  </div>
</div>
</body>
</html>